.champion {
  position: relative;
  background: $darkGrey;
  background: linear-gradient(-45deg, $white 98.5%, transparent 98.5%);
  stroke: black;
  stroke-width: 2px;
  width: 250px;
  height: fit-content;
  margin: 0 3em;
  height: 550px;
  transition: 2s ease-in-out;
  cursor: pointer;
  
  &.selected,
  &:hover{
    &:after {
      opacity: 0;
    }

    .champion__name {
      color: white;
      text-shadow: -2px -2px 0px $darkGrey,
                    2px -2px 0px $darkGrey,
                    -2px  2px 0px $darkGrey,
                    2px  2px 0px $darkGrey;
      mix-blend-mode: multiply;
      opacity: 1;
    }

    .champion__abilities {
      background-color: $white ;
      border: 1px solid $darkGrey;
    }
    .champion__ability{
      & > svg {
        fill: $darkGrey;
      }
    }
  }

  &::after {
    content: '';
    position: absolute;
    background: linear-gradient(-45deg, $darkGrey 98.5%, transparent 98.5%);
    height:100%;
    width: 100%;
    top:0;
    left: 0;
    opacity: 1;
    transition: opacity .3s ease-in-out;
  }

  &::before {
    content: '';
    position: absolute;
    background: black;
    z-index: -1;
    background: linear-gradient(-45deg, black 98.5%, transparent 98.5%);
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    top: -2px;
    left: -2px;
  }

  &__info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em 0;
  }

  &__img {
    position: relative;
    z-index: 4;
  }

  &__country,
  &__name {
    position: absolute;
    transform-origin: left;
    z-index: 5;
  }

  &__country {
    transform: translateX(2em) rotate(90deg);
    text-transform: capitalize;
    color: $primary;
    font-weight: 800;
    font-size: 1.2rem;
  }

  &__name {
    @include stroke-text;
    font-size: 3.65rem;
    transform: rotate(90deg) translate(-.35em, .1em);
    top: 0;
  }

  &__abilities {
    position: absolute;
    display: flex;
    align-items: center;
    background-color: $darkGrey ;
    border: 1px solid $white;
    padding: 2em 0;
    justify-content: space-between;
    z-index: 5;
    bottom: 0;
    transform: translate(1.5em, 1.5em);
    height: 55px;
    transition: .2s ease-in-out;
    width: 250px;
  
  }

  &__ability {
    & > svg {
      stroke: none;
      transform: scale(.5);
    }
  }

}