.dashboard {
  position: relative;
  width: 100vw;
  height: 900px;
  max-width: 1600px;
  background: $primary;
  border-radius: 32px;
  filter: drop-shadow(0 0 15px rgba(0,0,0, .75));
  background-image: url('../assets/background.png');
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  background-repeat: no-repeat;


  &::before {
    content: '';
    position: absolute;
    background-image: url('../assets/elements.png');
    background-position: center;
    background-size: contain;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    top: 5%;
    width: 90%;
    height: 85%;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
  }

  &__content {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  &__left {
    position: relative;
    width: 25%;
    height: 100%;
    @include fadeInLeft;
  }

  &__right {
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    right: -5em;
    top: 5%;
  }

  &__category {
    @include stroke-text;
    font-size: 8rem;
    top: 38%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%) rotate(90deg);
    opacity: .7;
    z-index: 7;
  }
  
  // ==== Lower Section of Dashboard ====
  &__info{
    position: absolute;
    bottom: 14%;
    z-index: 6;
    left: -2em;
    width: 100%;
    display: flex;
    gap: 3em;
  }

  &__char-next {
    @include flat-corner;
    width: 150px;
    display: grid;
    place-content: center;
  }
}

// @keyframes fadeInLeft{
//   0% {
//     opacity: 0;
//     transform: translateX(-100%);
//   }
//   50% {
//     opacity: 0;
//   }
//   100% {
//     transform: translateX(0);
//     opacity: 1;
//   }
// }