@mixin stroke-text {
  -webkit-text-stroke: 1px #fff;
  color: transparent;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  height: fit-content;
  width: fit-content;
}

@mixin flat-corner {
  position: relative;
  background: $offWhite;
  background: linear-gradient(-45deg, $offWhite 98.5%, transparent 98.5%);
  height: 124px;
  padding: 1em 2em;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  &::before {
    content: '';
    position: absolute;
    background: linear-gradient(-45deg, #000 98.5%, transparent 98.5%);
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    top: -2px;
    left: -2px;
    z-index: -1;
  }
}

@mixin fadeInLeft {
  animation: _fadeIn .4s linear;

  @keyframes _fadeIn {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
  
    50% {
      opacity: 0;
    }
  
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
