$primary: #FF4656;
$white: #fff;
$offWhite: #F8F8F8;
$lightGrey: #EFEFEF;
$mediumGrey: #505155;
$darkGrey: #1F2326;
$stroke: -1px -1px 0 $white,
          1px -1px 0 $white,
          -1px  1px 0 $white,
          1px  1px 0 $white;