.view-champion {
  margin-left: 10em;
  display: flex;
  align-items: flex-start;
  height: 100%;
  

  &__left {
    background: $offWhite;
    width: 55%;
    margin: 1em 0;
  }

  &__title {

  }

  &__story {
    padding: 2em;

    & > :last-child {
      margin-bottom: 0;
    }
  }

  &__text {
    font-family: 'Monserrat', sans-serif;
    font-size: .75rem;
    color: $darkGrey;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 1em 0;
  }

  &__content {
    padding-left: 2em;
    width: 100%;

    &>div {
      display: flex;
      justify-content: space-between;
    }
  }

  &__stats { 
    margin: auto 0;
    &>p {
      font-family: 'Poppins', sans-serif;
      text-transform: capitalize;
      color: #C4C4C4;
      font-size: .75rem;
      margin: 1em 0;

      &>span {
        color: $darkGrey;
      }
    }
  }

  &__details {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    transform: translateX(-3em);
    position: relative;
    z-index: 10;
  }

  &__stream {
    display: none;
    height: 100%;
    min-width: 300px;
    width: 100%;
    max-width: 450px;
    object-fit: cover;

    &.selected {
      display: block;
    }
  }

  &__selector {
    &>div {
      height: 20px;
      width: 5px;
      border: 1px solid $darkGrey;
      margin: .75em 0;
      cursor: pointer;
      transition: .2s ease-in-out;
      
      &:hover,
      &.selected {
        background-color: $primary;
        border-color: $primary;
      }
    }
  }
  
  &__abilities {
    background-color: $darkGrey;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    color: $white;
    padding: 1em;
    position: relative;
    z-index: 6;
  }

  &__ability-img {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 50px;
    transition: .2s ease-in-out;

    &:hover svg,
    &.selected svg {
      fill: $primary;
    }
  }

  &__ability {
    text-align: center;
    width: 100%;
    border-right: 1px solid $primary;
    padding: 0.5em;
    cursor: pointer;
    position: relative;
    // Add Hover image color

    &:hover:before {
      svg {
        color:$primary;
      }
    }

    &::before{
      content: '';
      position: absolute;
      background: transparent;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 4;
    }

    &:last-of-type {
      border-right: none;
    }
  }
  
  &__ability-title {
    margin: .5em 0;
    font-size: .75rem;
    text-transform: uppercase;
  }

  &__ability-description {
    font-size: .5rem;
  }

  &__image {
    position: absolute;
    width: 50%;
    top: -15%;
    right: 5%;
    z-index: 5;
  }
  
  &__main-img {
    min-width: 500px;
    position: relative;
  }

  &__name {
    @include stroke-text;
    position: absolute;
    top: 40%;
    right: -2%;
    transform: translateY(-50%) rotate(90deg);
    font-size: 12em; 
  }
}